<div class="section section-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-4">
                <h2 class="title text-center">Send me a Message</h2>
                <div class="row">
                    <div class="col-md">
                        <input type="text" class="form-control" placeholder="Name *" required/>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md">
                        <input type="email" class="form-control" placeholder="Email *" required/>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md">
                        <textarea rows="4" class="form-control" placeholder="Message *" required></textarea>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4 offset-md-4">
                        <button class="btn btn-secondary btn-md" style="width: 100%;">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>>