<div class="section section-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-4">
                <h2 class="title text-center">Send me a Message</h2>
                <form>
                    <div class="row">
                        <div class="col-md">
                            <input type="text" class="form-control" placeholder="Name *" #name_input required/>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md">
                            <input type="email" class="form-control" placeholder="Email *" #email_input required/>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md">
                            <textarea rows="4" class="form-control" placeholder="Message *" #message_input required></textarea>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-4 offset-md-4">
                            <button type="submit" class="btn btn-secondary btn-md" style="width: 100%;" (click)="submitFeedback(name_input.value, email_input.value, message_input.value)">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>>