<div class="section section-dark">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <img class="img-rounded img-responsive" src={{data.i_1}}>
            </div>
            <div class="col-md">
                <img class="img-rounded img-responsive" src={{data.i_2}}>
            </div>
            <div class="col-md">
                <img class="img-rounded img-responsive" src={{data.i_3}}>
            </div>
        </div>
    </div>
</div>
