<div class="section section-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="avatar a-left-right">
                    <img src="./assets/img/profile.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto text-center a-right-left">
                <h2 class="title">Who am I?</h2>
                <div class="name">
                    <h4 class="title">Karthik Suresh<br /></h4>
                    <h6 class="description">Photographer | Programmer | Learner</h6>
                </div>
                <div class="text-center">
                    <p style="color: rgb(156, 156, 156)">Hey everyone , welcome to page!  I work as a software developer in a private company. In my free time, I love exploring about photography and learning more about it. I developed interest in photography 3 years ago and my passion towards it has grown over the years. The one major thing that drives my interest towards photography is that how beautiful moments can be captured and the way you get to see in different aspects and perspectives. Visit the various sections under my page to know more about the lenses and softwares I use. Do show your love by sharing and supporting my page.</p>
                </div>
            </div>
        </div>
    </div>    
</div>